<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkloving.rtring_new">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 蓝牙的相关权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 获取运营商信息,用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- NFC权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- 短信验证的相关权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_SMS" />
    <!-- 获取任务列表的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 客服中心拨打电话 -->

    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 手机账户列表 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <service android:name=".BleService">
            <intent-filter android:priority="9998">
                <action android:name="com.linkloving.watch.BLE_SERVICE" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <service
            android:name=".notify.NotificationCollectorService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name=".notify.PhoneReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notify.SMSBroadcastReceiver">
            <intent-filter android:priority="9999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notify.ScreenReceiver">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="请输入申请的APIKEY" /> -->
        <!-- 正式的百度KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nQQFQ7ieOSgosxvz46k3pw1CqTzMA1Nc" />

        <!--
          <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sREYQOlFdWG3sUD14rCx4WBL" />
        -->
        <!-- 友盟分析 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="572811c4e0f55a10430006ee" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- theme这句不加的话 actionbar 和 toolbar会冲突 -->
        <activity
            android:name=".logic.UI.main.PortalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- android:screenOrientation="portrait" 禁止横屏 -->
        <activity
            android:name=".logic.UI.help.HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.DeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.alarm.AlarmActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.longsit.LongSitActivity"
            android:label="@string/title_activity_long_sit"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- QQ登陆 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104705744" />
                <!-- 连爱手表APPID:1104705744 测试ID:222222 -->
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.mob.tools.MobUIShell" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".logic.UI.device.handup.HandUpActivity"
            android:label="@string/title_activity_hand_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.alarm.SetAlarmActivity"
            android:label="@string/title_activity_hand_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.incomingtel.IncomingTelActivity"
            android:label="@string/title_activity_incoming_tel"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.power.PowerActivity"
            android:label="@string/title_activity_power"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.firmware.FirmwareUpdateActivity"
            android:label="@string/title_activity_firmware_update"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.device.movedevice.MoveDeviceActivity"
            android:label="@string/title_activity_move_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.CountryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.friend.FriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".logic.UI.friend.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- LoginFromPhoneActivity -->

        <activity
            android:name=".logic.UI.launch.LoginFromPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".logic.UI.launch.Login_Email_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.Change_Passw_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.friend.AttentionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".logic.UI.ranking.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".logic.UI.launch.ThirdLogin.view.ThirdLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.personal.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.BodyActivity"
            android:label="@string/title_activity_body"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.RegisteredSuccessActivity"
            android:label="@string/title_activity_registered_success"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.goal.SportGoalActivity"
            android:label="@string/title_activity_spor_goal_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.customerservice.CustomerServiceActivity"
            android:label="@string/title_activity_customer_service"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".logic.UI.launch.register.RegisterPhoneActivity"
            android:label="@string/title_activity_register_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.StepDataActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.SleepDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.DistanceDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.CalDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.boundwatch.BoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.boundwatch.BoundActivity_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.boundwatch.BLEListActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.CommonWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.AppStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppStarThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logic.UI.main.pay.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.youzanshop.H5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.personal.FriendInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.more.MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.more.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.more.SendMailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.bundband.bundbandstep1"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.bundband.bundbandstep2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.bundband.BandListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.boundband.Band3ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />
            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <meta-data android:name="QQWebShareAdapter" android:value="cn.sharesdk.demo.MyQQWebShareAdapter" />
            -->
            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logic.UI.launch.register.PassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.ForgetPassWordMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.WeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.datachatactivity.ChangeWeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.personal.EntInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.more.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- 岭南通支付sdk -->
        <activity
            android:name="com.lnt.rechargelibrary.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ComplaintOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ComplaintSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ComplaintSubmit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.ForgetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.UpdatePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lnt.rechargelibrary.NfcQueryActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.lnt.rechargelibrary.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logic.UI.launch.register.UpdataAvatarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.SexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.HeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.WeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.launch.register.BrithActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".logic.UI.main.BundTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".logic.UI.personal.ChangeInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".logic.UI.main.boundband.bund3bandstep1"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            />
        <activity android:name=".logic.UI.main.boundband.bund3bandstep2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".logic.UI.main.boundband.Bound3Activity_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>


    </application>

</manifest>